<!-- <p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
</p>
<div class="buttons">
    <button routerLink='/parent1' mat-raised-button color="primary">Parent1</button>
    <button routerLink='/parent2' mat-raised-button color="primary">Parent2</button>
</div> -->
<app-main-nav>
    <router-outlet></router-outlet>
</app-main-nav>
