
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Parent 1 Component</mat-card-title>
      <mat-card-subtitle>Tiger Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.wallpapersafari.com/29/21/oyRDdN.jpg" alt="Photo of a Tiger">
    <mat-card-content>
      <p>
        The tiger is the largest extant cat species and a member of the genus Panthera. It is most recognisable for its dark vertical stripes on orange-brown fur with a lighter underside. It is an apex predator, primarily preying on ungulates such as deer and wild boar.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  