.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://lh3.googleusercontent.com/WRxEKrZo1bIJhgXZLy7u_uDiwjczoc-NJwntCqaFQpAhmZ8KdXtvCYqHpQGk-KYlUw');
    background-size: cover;
  }
  